.light {
  --theme-color: #a80000;
  --theme-page-background: #fff;
  --theme-page-text: #000;
}

.dark {
  --theme-color: #0000a8;
  --theme-page-background: #121212;
  --theme-page-text: #cecbcb;
}
